* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  position: relative;
}

#heartsContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.heart {
  position: absolute;
  width: 2vw; /* Ajustar el tamaño de los corazones */
  height: 2vw;
  background-color: red;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Parte superior del corazón */
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -1vw;
  left: 0;
}

.heart::after {
  top: 0;
  left: 1vw;
}

/* Contenedor de la pregunta */
#questionContainer {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 5vw; /* Aumentar el tamaño del texto en pantallas pequeñas */
  font-weight: bold;
  display: none;
  width: 100%;
  max-width: 60vw; /* Ajustar el tamaño máximo */
  line-height: 1.2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Botones */
button {
  background-color: red;
  color: white;
  border: none;
  padding: 4vw 8vw;
  margin-top: 4vw;
  cursor: pointer;
  font-size: 5vw;
  border-radius: 1vw;
}

button:hover {
  background-color: darkred;
}

#noBtn {
  position: absolute;
}
